extends layouts/layout

block content
  if currentUser
    include partials/tweetForm
    include partials/tweetFeed
  else
    .row
      .col-md-5.d-flex.align-items-center
        h1#welcome-title.load-hidden.font-weight-bold.text-white.display-4 Welcome to Twitter Clone!
      .col-md-7
        object#welcome-illustration.load-hidden.illustration(type='image/svg+xml' data='/public/images/illustration.svg')