.card
  .card-body
    form(role='form', method='POST', action='tweet')
      textarea.form-control(name='texto', placeholder='Escribir tweet...', rows='3')
      br
      input.btn.btn-lg.btn-primary.float-right(type='submit', value='Tweet' )