extends layouts/layout

block contenido
  .row.justify-content-center
    .col-md-6
      form(role='form', action="/login", method='post')
        fieldset
          h2.text-white Login
          .form-group
            input#email.form-control.input-lg(type='email', name='email', placeholder='Email')
          .form-group
            input#password.form-control.input-lg(type='password', name='password', placeholder='Password')
          .row.justify-content-center
            .col-md-4
              input.btn.btn-lg.btn-success.btn-block(type='submit', value='Login')