extends layout

block contenido
  .row
    .col-md-6.offset-md-3
      form(role='form', action="/signup", method='post')
        fieldset
          h2 Signup
          .form-group
            input#email.form-control.input-lg(type='text', name='nombre', placeholder='Nombre')
          .form-group
            input#email.form-control.input-lg(type='email', name='email', placeholder='Email')
          .form-group
            input#password.form-control.input-lg(type='password', name='password', placeholder='Password')
          .form-group
            input#biografia.form-control.input-lg(type='text', name='biografia', placeholder='Cuentanos un poco sobre ti!')
          .row
            .col-md-4.offset-md-4
              input.btn.btn-lg.btn-success.btn-block(type='submit', value='Signup')