footer.footer
  .container-fluid
    .d-flex.justify-content-between.py-4
      p.text-white.m-0 Tweet Clone!
      a(href='https://cobimr.xyz/')
        p.text-white.m-0 Made by 
          strong Jacobo Martinez